@use '../../scss/mixins/breakpoint' as *;

.banner {

  &__content {
    display: block;
    text-align: center;
    // font-family: "Bebas Neue";
    // font-size: 70px;
    // font-style: normal;
    // font-weight: 400;
    // line-height: normal;
    // text-transform: uppercase;
    // text-align: center;
    // width: 100%;
    span {
      color: var(--theme-colour--orange);
    }
  }

  @include breakpoint(sm) {

    &__content {

    }

  }

  @include breakpoint(md) {

    &__content {

    }

  }

  @include breakpoint(lg) {

    &__content {
      font-size: 80px;
    }

  }

  @include breakpoint(xl) {

    &__content {
      font-size: 90px;
    }

  }

  @include breakpoint(xxl) {

    &__content {
      font-size: 100px;
    }

  }

}
