@use '../../scss/mixins/breakpoint' as *;

.carousel {

  .splide {

    &__content {
      display: flex;
      width: 100%;
      height: 100%;
      flex-flow: column;
      justify-content: center;
      align-items: center;
    }

    img {
      display: block;
      width: auto;
      height: 100%;
    }

  }

  &__content {
    display: block;
    width: 100%;
    grid-column: 1 / -1;
    text-align: center;
  }

  &__heading {
    letter-spacing: 0.15em;
    & + .carousel__items {
      margin-top: 34px;
    }
  }

  @include breakpoint(lg) {

    &__heading {
      & + .carousel__items {
        margin-top: 54px;
      }
    }

  }

  @include breakpoint(xl) {}

  @include breakpoint(xxl) {

    &__heading {
      & + .carousel__items {
        margin-top: 64px;
      }
    }

  }

}
