@use "sass:map";
@use "../variables" as *;

@mixin breakpoint($size: "") {
  $breakpoints: map.get($theme-container-settings, "breakpoints");
  @if map.has-key($breakpoints, $size) {
    @media (min-width: map.get($breakpoints, $size)) {
      @content;
    }
  } @else {
    @media (min-width: $size) {
      @content;
    }
  }
}
