%font-serif {
  font-family: serif;
  font-style: normal;
}

%font-sans-serif {
  font-family: sans-serif;
  font-style: normal;
}

%font-heading {
  @extend %font-sans-serif;
  margin: 0;
  padding: 0;
  font-style: normal;
}
