@use "sass:meta";
@use "sass:string";

@mixin map-scss-to-css-var($css-var-name: "", $map: ()) {
  @each $name, $value in $map {
    @if "string" == meta.type-of($value) {
      $value: string.unquote($value);
    }
    @if $name == "base" {
      #{$css-var-name}: #{$value};
    } @else {
      #{$css-var-name}--#{$name}: #{$value};
    }
  }
}
