@use "sass:map";
@use "../variables" as *;

$transition-timing-duration: map.get($theme-transition-timing, "duration");

%ui-base {
  display: inline-flex;
  width: auto;
  align-items: center;
  opacity: 1;
  background: transparent;
  line-height: 1;
  text-decoration: none;
  outline: none;
  color: inherit;
  border: none;
  padding: 0;
  margin: 0;
}

%ui-base-button {
  @extend %ui-base;
  justify-content: center;
  font-style: normal;
  font-weight: 400;
  position: relative;
}

%ui-base-input {
  @extend %ui-base;
  justify-content: flex-start;
  &[type="search"] {
    -webkit-appearance: none;
  }
}

%ui-base-link {
  @extend %ui-base;
  justify-content: flex-start;
}

%ui-disabled {
  opacity: 0.4;
  cursor: no-drop;
  pointer-events: none;
  &:focus,
  &:hover {
    background: initial;
    color: initial;
  }
}

%ui-transition {
  transition-duration: $transition-timing-duration * 1ms;
  transition-property: background, border, color, opacity, transform;
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}
