@use '../../scss/mixins/breakpoint' as *;

.hero {

  height: var(--theme-viewport-height--total, 100vh);
  justify-content: center;
  align-items: center;
  flex-flow: column;
  display: flex;
  position: relative;

  &__background,
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__background {
    z-index: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top 0 right 20%;
    }
  }

  &__content {
    grid-column: 1 / -1;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 0 2.5%;
    row-gap: 32px;
  }

  &__grid {
    z-index: 10;
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__overlay {
    z-index: 5;
    background: rgba(0, 0, 0, 0.15);
    background: linear-gradient(90deg, rgba(0,0,0,0.35) 0%, rgba(0,0,0,0) 75%);
  }

  @include breakpoint(sm) {

    &__content {
      grid-column: 1 / span 8;
    }

  }

  @include breakpoint(lg) {

    &__content {
      padding-right: 0%;
    }

  }

}
