@use '../functions/general' as *;
@use '../mixins/body-copy' as *;
@use '../mixins/breakpoint' as *;

.body-copy {

  &--primary {
    @include body-copy-style('primary');
  }

  &--secondary {
    @include body-copy-style('secondary');
  }

  $offset: 0vw;

  &--xl {
    &-fluid {
      font-size: responsive-text( 18px, $offset );
    }
  }

  &--lg {
    &-fluid {
      font-size: responsive-text( 16px, $offset );
    }
  }

  &--md {
    &-fluid {
      font-size: responsive-text( 14px, $offset );
    }
  }

  &--sm {
    &-fluid {
      font-size: responsive-text( 12px, $offset );
    }
  }

  &--xs {
    &-fluid {
      font-size: responsive-text( 10px, $offset );
    }
  }

  @include breakpoint(sm) {

    $offset: 0.5vw;

    &--xl {
      &-fluid {
        font-size: responsive-text( 18px, $offset );
      }
    }

    &--lg {
      &-fluid {
        font-size: responsive-text( 16px, $offset );
      }
    }

    &--md {
      &-fluid {
        font-size: responsive-text( 14px, $offset );
      }
    }

    &--sm {
      &-fluid {
        font-size: responsive-text( 12px, $offset );
      }
    }

    &--xs {
      &-fluid {
        font-size: responsive-text( 10px, $offset );
      }
    }

  }

  @include breakpoint(md) {

    $offset: 0.65vw;

    &--xl {
      &-fluid {
        font-size: responsive-text( 18px, $offset );
      }
    }

    &--lg {
      &-fluid {
        font-size: responsive-text( 16px, $offset );
      }
    }

    &--md {
      &-fluid {
        font-size: responsive-text( 14px, $offset );
      }
    }

    &--sm {
      &-fluid {
        font-size: responsive-text( 12px, $offset );
      }
    }

    &--xs {
      &-fluid {
        font-size: responsive-text( 10px, $offset );
      }
    }

  }

  @include breakpoint(lg) {

    $offset: 0.175vw;

    &--xl {
      &-fluid {
        font-size: responsive-text( 18px, $offset );
      }
    }

    &--lg {
      &-fluid {
        font-size: responsive-text( 16px, $offset );
      }
    }

    &--md {
      &-fluid {
        font-size: responsive-text( 14px, $offset );
      }
    }

    &--sm {
      &-fluid {
        font-size: responsive-text( 12px, $offset );
      }
    }

    &--xs {
      &-fluid {
        font-size: responsive-text( 10px, $offset );
      }
    }

  }

  @include breakpoint(xl) {

    $offset: 0.2vw;

    &--xl {
      &-fluid {
        font-size: responsive-text( 18px, $offset );
      }
    }

    &--lg {
      &-fluid {
        font-size: responsive-text( 16px, $offset );
      }
    }

    &--md {
      &-fluid {
        font-size: responsive-text( 14px, $offset );
      }
    }

    &--sm {
      &-fluid {
        font-size: responsive-text( 12px, $offset );
      }
    }

    &--xs {
      &-fluid {
        font-size: responsive-text( 10px, $offset );
      }
    }

  }

  @include breakpoint(xxl) {

    $offset: 0.225vw;

    &--xl {
      &-fluid {
        font-size: responsive-text( 18px, $offset );
      }
    }

    &--lg {
      &-fluid {
        font-size: responsive-text( 16px, $offset );
      }
    }

    &--md {
      &-fluid {
        font-size: responsive-text( 14px, $offset );
      }
    }

    &--sm {
      &-fluid {
        font-size: responsive-text( 12px, $offset );
      }
    }

    &--xs {
      &-fluid {
        font-size: responsive-text( 10px, $offset );
      }
    }

  }

}
