@use "../mixins/breakpoint" as *;

.flex {
  &-container,
  &-container-fluid,
  &-container-full-width {
    column-gap: var(--theme-grid-gutter);
    display: flex;
    margin: 0 auto;
  }

  &-container,
  &-container-fluid {
    padding: 0 var(--theme-grid-container-padding);
  }

  &-container-full-width {
    column-gap: 0;
  }

  &--align {
    &-flex-start {
      align-items: flex-start;
    }
    &-center {
      align-items: center;
    }
    &-flex-end {
      align-items: flex-end;
    }
  }

  &--justify {
    &-flex-start {
      align-items: flex-start;
    }
    &-center {
      align-items: center;
    }
    &-flex-end {
      align-items: flex-end;
    }
  }

  @include breakpoint(sm) {
    &-container {
      max-width: var(--theme-grid-container--sm);
      padding: 0;
    }
  }

  @include breakpoint(md) {
    &-container {
      max-width: var(--theme-grid-container--md);
    }
  }

  @include breakpoint(lg) {
    &-container {
      max-width: var(--theme-grid-container--lg);
    }
  }

  @include breakpoint(xl) {
    &-container {
      max-width: var(--theme-grid-container--xl);
    }
  }

  @include breakpoint(xxl) {
    &-container {
      max-width: var(--theme-grid-container--xxl);
    }
  }
}
