@use "sass:map";
@use "../variables" as *;

.font {

  &-family {
    @each $name, $value in $theme-font-families {
      &--#{$name} {
        font-family: var(--theme-font-family--#{$name});
      }
    }
  }

  &-style {
    &--italic {
      font-style: italic;
    }
  }

  &-weight {
    @for $i from 1 through 9 {
      &--#{$i} {
        font-weight: $i * 100;
      }
    }
  }

}
