@use "../mixins/breakpoint" as *;

.grid {
  &-container,
  &-container-fluid,
  &-container-full-width {
    column-gap: var(--theme-grid-gutter);
    grid-template-columns: repeat(6, 1fr);
    display: grid;
    margin: 0 auto;
    width: 100%;
    position: relative;
  }

  &-container,
  &-container-fluid {
    padding: 0 var(--theme-grid-container-padding);
  }

  &-container-full-width {
    column-gap: 0;
  }

  @include breakpoint(sm) {
    &-container {
      max-width: var(--theme-grid-container--sm);
      padding: 0;
    }
  }

  @include breakpoint(md) {
    &-container,
    &-container-fluid,
    &-container-full-width {
      grid-template-columns: repeat(9, 1fr);
    }

    &-container {
      max-width: var(--theme-grid-container--md);
    }
  }

  @include breakpoint(lg) {
    &-container,
    &-container-fluid,
    &-container-full-width {
      grid-template-columns: repeat(12, 1fr);
    }

    &-container {
      max-width: var(--theme-grid-container--lg);
    }
  }

  @include breakpoint(xl) {
    &-container {
      max-width: var(--theme-grid-container--xl);
    }
  }

  @include breakpoint(xxl) {
    &-container {
      max-width: var(--theme-grid-container--xxl);
    }
  }
}
