@use '../functions/general' as *;
@use '../mixins/breakpoint' as *;
@use '../mixins/heading' as *;

.heading {

  &--primary {
    @include heading-style('primary');
  }

  &--secondary {
    @include heading-style('secondary');
  }

  $offset: 0vw;

  &--xl {
    &-fluid {
      font-size: responsive-text( 36px, $offset );
    }
  }

  &--lg {
    &-fluid {
      font-size: responsive-text( 32px, $offset );
    }
  }

  &--md {
    &-fluid {
      font-size: responsive-text( 28px, $offset );
    }
  }

  &--sm {
    &-fluid {
      font-size: responsive-text( 22px, $offset );
    }
  }

  &--xs {
    &-fluid {
      font-size: responsive-text( 20px, $offset );
    }
  }

  @include breakpoint(sm) {

    $offset: 0.6vw;

    &--xl {
      &-fluid {
        font-size: responsive-text( 36px, $offset );
      }
    }

    &--lg {
      &-fluid {
        font-size: responsive-text( 32px, $offset );
      }
    }

    &--md {
      &-fluid {
        font-size: responsive-text( 28px, $offset );
      }
    }

    &--sm {
      &-fluid {
        font-size: responsive-text( 22px, $offset );
      }
    }

    &--xs {
      &-fluid {
        font-size: responsive-text( 20px, $offset );
      }
    }

  }

  @include breakpoint(md) {

    $offset: 0.75vw;

    &--xl {
      &-fluid {
        font-size: responsive-text( 36px, $offset );
      }
    }

    &--lg {
      &-fluid {
        font-size: responsive-text( 32px, $offset );
      }
    }

    &--md {
      &-fluid {
        font-size: responsive-text( 28px, $offset );
      }
    }

    &--sm {
      &-fluid {
        font-size: responsive-text( 22px, $offset );
      }
    }

    &--xs {
      &-fluid {
        font-size: responsive-text( 20px, $offset );
      }
    }

  }

  @include breakpoint(lg) {

    $offset: 0.7vw;

    &--xl {
      &-fluid {
        font-size: responsive-text( 35px, $offset );
      }
    }

    &--lg {
      &-fluid {
        font-size: responsive-text( 31px, $offset );
      }
    }

    &--md {
      &-fluid {
        font-size: responsive-text( 25px, $offset );
      }
    }

    &--sm {
      &-fluid {
        font-size: responsive-text( 21px, $offset );
      }
    }

    &--xs {
      &-fluid {
        font-size: responsive-text( 16px, $offset );
      }
    }

  }

  @include breakpoint(xl) {

    $offset: 0.95vw;

    &--xl {
      &-fluid {
        font-size: responsive-text( 35px, $offset );
      }
    }

    &--lg {
      &-fluid {
        font-size: responsive-text( 31px, $offset );
      }
    }

    &--md {
      &-fluid {
        font-size: responsive-text( 25px, $offset );
      }
    }

    &--sm {
      &-fluid {
        font-size: responsive-text( 21px, $offset );
      }
    }

    &--xs {
      &-fluid {
        font-size: responsive-text( 16px, $offset );
      }
    }

  }

  @include breakpoint(xxl) {

    $offset: 1.15vw;

    &--xl {
      &-fluid {
        font-size: responsive-text( 35px, $offset );
      }
    }

    &--lg {
      &-fluid {
        font-size: responsive-text( 31px, $offset );
      }
    }

    &--md {
      &-fluid {
        font-size: responsive-text( 25px, $offset );
      }
    }

    &--sm {
      &-fluid {
        font-size: responsive-text( 21px, $offset );
      }
    }

    &--xs {
      &-fluid {
        font-size: responsive-text( 16px, $offset );
      }
    }

  }

}
