.lazyload-item {

  display: block;
  transition-property: opacity;
  opacity: 0;

  $base: 50;
	$step: 50;

  &.lazyloaded {
    opacity: 1;
	}

  @while $base < 4000 {

    &[data-transition-duration='#{$base}'] {
      transition-duration: $base * 1ms
    }

    &[data-transition-delay='#{$base}'] {
      transition-delay: $base * 1ms
    }

    $base: $base + $step;

  }

}
