@use "sass:map";
@use "../variables" as *;

.font {

  &-family {
    @each $name, $value in $theme-font-families {
      &--#{$name} {
        font-family: var(--theme-font-family--#{$name});
      }
    }
  }

  &-style {
    &--italic {
      font-style: italic;
    }
  }

  &-weight {
    @for $i from 1 through 9 {
      &--#{$i} {
        font-weight: $i * 100;
      }
    }
  }

}

.line-height {
  $value: 100;
  $limit: 200;
  @while $value <= $limit {
    &--#{$value} {
      line-height: math.div($value, 100);
    }
    $value: $value + 5;
  }
}

.text {

  &--align {
    &-left {
      text-align: left;
    }
    &-center {
      text-align: center;
    }
    &-right {
      text-align: right;
    }
  }

  &--uppercase {
    text-transform: uppercase;
  }

  @each $name, $value in $theme-colours {
    &--#{$name} {
      color: var(--theme-colour--#{$name});
    }
  }

}

.z-index {

  $base: 0;
	$step: 50;

  @while $base < 1000 {
    &--#{$base} {
      z-index: $base;
    }
    $base: $base + $step;
  }

}
