@use '../../scss/mixins/breakpoint' as *;

.instagram-feed {
  &__grid {
    display: flex;
    width: 100%;
    gap: 18px;
  }
  &__item {
    height: auto;
    flex: 1;
    aspect-ratio: 1/1;
    &-link {
      width: 100%;
      height: 100%;
      display: block;
      position: relative;
    }
    &-image {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-size: cover;
      background-position: center center;
    }
  }
}
