.instagram-feed__grid{display:-webkit-box;display:-webkit-flex;display:-moz-box;display:flex;width:100%;gap:18px}.instagram-feed__item{height:auto;-webkit-box-flex:1;-webkit-flex:1;-moz-box-flex:1;flex:1;aspect-ratio:1/1}.instagram-feed__item-link{width:100%;height:100%;display:block;position:relative}.instagram-feed__item-image{width:100%;height:100%;position:absolute;top:0;left:0;-webkit-background-size:cover;background-size:cover;background-position:center center}
