.image img{width:100%;height:auto;display:block;margin-left:auto;margin-right:auto}.image picture{width:100%;height:auto;display:block}.image__content{height:auto;display:block;grid-column:1/-1}.image.aspect-ratio-mobile--enabled picture img{height:100%;-o-object-fit:cover;object-fit:cover}@media(min-width: 992px){.image.aspect-ratio-mobile--enabled picture img{height:auto;-o-object-fit:initial;object-fit:initial}}
