@use '../../scss/mixins/breakpoint' as *;

.image {

  img {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  picture {
    width: 100%;
    height: auto;
    display: block;
  }

  &__content {
    height: auto;
    display: block;
    grid-column: 1 / -1;
  }

  &.aspect-ratio-mobile--enabled {
    picture img {
      height: 100%;
      object-fit: cover;
    }
  }

  @include breakpoint(lg) {

    &.aspect-ratio-mobile--enabled {
      picture img {
        height: auto;
        object-fit: initial;
      }
    }

  }

}
