@use "sass:map";
@use "sass:meta";
@use "../variables" as *;
@use "../mixins/tools" as *;

:root {
  // ---------------------------------------- Variables
  $theme-container-sizes: map.get($theme-container-settings, "sizes");

  // ---------------------------------------- Colours
  @include map-scss-to-css-var("--theme-colour", $theme-colours);

  // ---------------------------------------- Container Sizes
  @include map-scss-to-css-var("--theme-container-sizes", $theme-container-sizes);
}
