// ---------------------------------------- Akkurat Mono | Bold
@font-face {
  font-family: "Akkurat Mono";
  src: url("./assets/fonts/AkkuratMonoLLTT-Bold.eot");
  src: url("./assets/fonts/AkkuratMonoLLTT-Bold.eot?#iefix") format("embedded-opentype"),
      url("./assets/fonts/AkkuratMonoLLTT-Bold.woff2") format("woff2"),
      url("./assets/fonts/AkkuratMonoLLTT-Bold.woff") format("woff"),
      url("./assets/fonts/AkkuratMonoLLTT-Bold.ttf") format("truetype"),
      url("./assets/fonts/AkkuratMonoLLTT-Bold.svg#AkkuratMonoLLTT-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// ---------------------------------------- Akkurat Mono | Regular
@font-face {
  font-family: "Akkurat Mono";
  src: url("./assets/fonts/AkkuratMonoLLWeb-Regular.eot");
  src: url("./assets/fonts/AkkuratMonoLLWeb-Regular.eot?#iefix") format("embedded-opentype"),
      url("./assets/fonts/AkkuratMonoLLWeb-Regular.woff2") format("woff2"),
      url("./assets/fonts/AkkuratMonoLLWeb-Regular.woff") format("woff"),
      url("./assets/fonts/AkkuratMonoLLWeb-Regular.ttf") format("truetype"),
      url("./assets/fonts/AkkuratMonoLLWeb-Regular.svg#AkkuratMonoLLWeb-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// ---------------------------------------- Sorry Sans | Bold Extended
@font-face {
  font-family: "Sorry Sans";
  src: url("./assets/fonts/SorrySans-BoldExtended.eot");
  src: url("./assets/fonts/SorrySans-BoldExtended.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/SorrySans-BoldExtended.woff2") format("woff2"),
    url("./assets/fonts/SorrySans-BoldExtended.woff") format("woff"),
    url("./assets/fonts/SorrySans-BoldExtended.ttf") format("truetype"),
    url("./assets/fonts/SorrySans-BoldExtended.svg#NotSorrySerif-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
