@use "../mixins/breakpoint" as *;
@use "../mixins/font" as *;
@use "../mixins/ui" as *;

.text {
  &--title,
  &--h1,
  &--h2,
  &--h3 {
    @extend %font-heading;
  }

  &--body-copy {
    @extend %font-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @extend %font-heading;
    }
    a {
      @extend %ui-transition;
      @extend %ui-base-link;
      color: var(--theme-colour--orange);
      border-bottom: 1px solid currentColor;
      &:hover {
        border-bottom-color: transparent;
      }
    }
  }

  &--h1 {
    font-size: 54px;
  }

  &--h2 {
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 1.54px;
  }

  &--rte {
    thead,
    tbody,
    tfoot,
    tr,
    td,
    th {
      border-color: inherit;
      border-style: solid;
      border-width: 0;
    }

    ol,
    p,
    ul {
      margin: 0 0 20px 0;
    }

    p,
    li {
      font-size: inherit;
      color: inherit;
      font-weight: inherit;
      line-height: inherit;
    }

    & > *:last-child {
      margin-bottom: 0;
    }
  }

  @include breakpoint("sm") {
    &--body-copy {
      font-size: 17px;
    }

    &--h2 {
      font-size: 27px;
    }

    &--rte {
      ol,
      p,
      ul {
        margin: 0 0 22px 0;
      }
    }
  }

  @include breakpoint("md") {
    &--body-copy {
      font-size: 18px;
    }

    &--h2 {
      font-size: 30px;
    }

    &--rte {
      ol,
      p,
      ul {
        margin: 0 0 24px 0;
      }
    }
  }

  @include breakpoint("lg") {
    &--body-copy {
      font-size: 14px;
    }

    &--h2 {
      font-size: 20px;
    }

    &--rte {
      ol,
      p,
      ul {
        margin: 0 0 18px 0;
      }
    }
  }
  @include breakpoint("xl") {
    &--body-copy {
      font-size: 15px;
    }

    &--h2 {
      font-size: 22px;
    }

    &--rte {
      ol,
      p,
      ul {
        margin: 0 0 20px 0;
      }
    }
  }
  @include breakpoint("xxl") {
    &--body-copy {
      font-size: 16px;
    }

    &--h2 {
      font-size: 24px;
    }

    &--rte {
      ol,
      p,
      ul {
        margin: 0 0 22px 0;
      }
    }
  }
}
