@use "../mixins/breakpoint" as *;

.desktop-only {
  display: none;
}

.mobile-only {
  display: block;
  &--flex {
    display: flex;
  }
  &--grid {
    display: grid;
  }
}

@include breakpoint("lg") {
  .desktop-only {
    display: block;
    &--flex {
      display: flex;
    }
    &--grid {
      display: grid;
    }
  }
  .mobile-only {
    display: none;
  }
}
