@use '../../scss/mixins/breakpoint' as *;

.fifty-fifty {

  img {
    width: 100%;
    height: auto;
    display: block;
  }

  &__column {
    position: relative;
    &.image {
      order: 1;
    }
    &.text {
      order: 2;
    }
  }

  &__heading {
    & + .fifty-fifty__message {
      margin-top: 22px;
    }
  }

  &__image {
    width: 100%;
    height: auto;
    position: relative;
    .wide & {
      width: 100vw;
      left: calc(-1 * var(--theme-grid-container-padding));
    }
  }

  &__layout {
    grid-column: 1 / -1;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 100%);
  }

  &__text {
    width: 90%;
    margin: 50px auto;
    .standard & {
      margin-bottom: 0;
    }
  }

  @include breakpoint(sm) {

    &__image {
      .wide & {
        width: calc(100% + (2 * var(--theme-grid-container-padding--sm)));
        left: calc(-1 * var(--theme-grid-container-padding--sm));
      }
    }

    &__text {
      width: 85%;
      margin: 60px auto;
    }

  }

  @include breakpoint(md) {

    &__image {
      .wide & {
        width: calc(100% + (2 * var(--theme-grid-container-padding--md)));
        left: calc(-1 * var(--theme-grid-container-padding--md));
      }
    }

    &__text {
      width: 80%;
      margin: 72px auto;
    }

  }

  @include breakpoint(lg) {

    &__column {
      &.image,
      &.text {
        order: unset;
      }
      &.image:first-child {
        .fifty-fifty__image {
          .wide & {
            left: calc(-1 * var(--theme-grid-container-padding--lg));
          }
          .inset & {
            margin-left: auto;
            margin-right: 0;
          }
        }
      }
      &.image:last-child {
        .fifty-fifty__image {
          .inset & {
            margin-left: 0;
            margin-right: auto;
          }
        }
      }
    }

    &__heading {
      & + .fifty-fifty__message {
        margin-top: 18px;
      }
    }

    &__image {
      .wide & {
        width: calc(100% + var(--theme-grid-container-padding--lg));
        left: unset;
      }
      .inset & {
        width: 82.5%;
      }
    }

    &__layout {
      column-gap: var(--theme-grid-gutter--lg);
      grid-template-columns: repeat(2, 1fr);
    }

    &__text {
      width: 85%;
      margin: 0 auto;
      min-height: 100%;
      display: flex;
      flex-flow: column;
      justify-content: center;
      .standard & {
        margin-bottom: unset;
      }
      .inset & {
        margin-left: auto;
        margin-right: auto;
        width: 66.6666%;
      }
    }

  }

  @include breakpoint(xl) {

    &__column {
      &.image:first-child {
        .fifty-fifty__image {
          .wide & {
            left: calc(-1 * var(--theme-grid-container-padding--xl));
          }
        }
      }
    }

    &__heading {
      & + .fifty-fifty__message {
        margin-top: 20px;
      }
    }

    &__image {
      .wide & {
        width: calc(100% + var(--theme-grid-container-padding--xl));
      }
    }

    &__text {
      width: 82.5%;
    }

  }

  @include breakpoint(xxl) {

    &__column {
      &.image:first-child {
        .fifty-fifty__image {
          .wide & {
            left: calc(-1 * var(--theme-grid-container-padding--xxl));
          }
        }
      }
    }

    &__heading {
      & + .fifty-fifty__message {
        margin-top: 22px;
      }
    }

    &__image {
      .wide & {
        width: calc(100% + var(--theme-grid-container-padding--xxl));
      }
    }

    &__text {
      width: 80%;
    }

  }

}
